﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel='stylesheet' type='text/css' href='~/css/elements.css' />
    <link rel='stylesheet' type='text/css' href='~/lib/tomtomsdk/map.css'/>
    <script src='~/lib/tomtomsdk/tomtom.min.js'></script>

    <link rel='stylesheet' type='text/css' href='~/css/Simee.css' />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index_2"><img src="~/images/Cimee2.png" alt="Smiley face" height="42" width="60"></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index_2">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="loginbtn" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserFile">Your File</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="edit-measurement">
        <span>@ViewData["emoji_ex2"]</span>
        <form name="Edit" asp-action="EditMeasurement" asp-controller="Home">
            <input name="Editheartrate" placeholder="Enter heart rate"/>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="search-box">
        <span>@ViewData["emoji_ex1"]</span>
        <form name="Search" asp-action="SearchEmoji" asp-controller="Home">
            <input name="Emojikeyword" placeholder="Search emoji with keyword"/>
            <input type="submit" value="Search">
        </form>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Simee - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type='text/javascript' src='~/js/form.js'></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
