﻿
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simee👁️</h1>
</div>

<div id='map' style='height:500px;width:800px'></div>

<div class='map-container use-all-space'>
    <div id='map' class='use-all-space'></div>
        
    <div>
        <label for='map_style'>
            Style
            <select id='map_style' name='map_style'>
                <option value='main'>main</option>
                <option value='night'>night</option>
            </select>
        </label>
        <label for='map_layer'>
            Layer
            <select id='map_layer' name='map_layer'>
                <option value='basic'>basic</option>
                <option value='hybrid'>hybrid</option>
                <option value='labels'>labels</option>
            </select>
        </label>
        <label for='baseLayer'>
            Base Layer
            <select id='baseLayer' name='baseLayer' autocomplete='off'></select>
        </label>
    </div>
</div>

<div style='height:500px;width:200px' class="friends-list">
    <h2>Friends🧑‍🤝‍🧑</h2>
    <ul>
        <li>Andrew🚗</li>
        <li>Amr🏃</li>
        <li>Jenny💤</li>
        <li>Tawfiq⛷️</li>
        <li>Marlon🍽️</li>
        <li>Justice🎰</li>
        <li>Sergiu🎸</li>
        <li>Jason⚽</li>
    </ul>
    <a id="gotoaddview" asp-area="" asp-controller="Home" asp-action="AddFriend">Add</a>
</div>



