﻿@{
    ViewData["Title"] = "Login Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Simee😀</h1>
    
</div>

<div>
    <form asp-action="Login">
        Username: <input type="text" name="Username" value=""><br>
        Password: <input type="password" name="Password" value=""><br>
        <input type="submit" value="Submit">
    </form>
</div>