﻿@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Cimee</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link rel='stylesheet' type='text/css' href='~/css/elements.css' />
        <link rel='stylesheet' type='text/css' href='~/lib/tomtomsdk/map.css'/>
        <script src='~/lib/tomtomsdk/tomtom.min.js'></script>

        <link rel='stylesheet' type='text/css' href='~/css/Simee.css' />

    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height:100vh">
                <div class="col-4">
                    <h3>Cimee</h3>
                    <div class="card">
                        
                        <div class="card-body">
                            
                            <form asp-action="Login" autocomplete="off">
                                <div class="form-group">
                                    <label>Username: </label>
                                    <input type="text" class="form-control" name="username">
                                </div>
                                <div class="form-group">
                                    <label>Password: </label>
                                    <input type="password" class="form-control" name="password">
                                </div>
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>