﻿
@{
    ViewData["Title"] = "Personal File";
}


<h4>My file</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index_2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label">Username</label>
                <input class="form-control" value="Neil"/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <span>Change Your Emoji</span>
                <textarea>
                    ⛷️🏌️🏄🏊⛹️🏋️🚴🏐🎾⚽💤🍽️🚗🚢✈️
                </textarea>
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index_2">Back to List</a>
</div>
