﻿label.tt-select {
  margin-top: 9px;
  height: 17px;
  line-height: 17px;
  background: #eaeaea;
}
label.tt-select.empty {
  display: none;
}
label.tt-select li {
  height: 21px;
  line-height: 19px;
  color: black;
  opacity: 0.9;
  background: #fafafa;
  border-left: solid 9px #fafafa;
  font-weight: 100;
  letter-spacing: 0.5px;
}
label.tt-select li:hover {
  color: white;
  background: #505050;
  border-left: solid 9px #505050;
}
label.tt-select .output {
  border-left: solid 9px #eaeaea;
}
label.tt-select ul.options {
  display: none;
  list-style: none;
  background-color: white;
  z-index: 1001;
  margin: 0;
  padding: 5px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 18px);
  box-shadow: silver 0px 0px 10px;
}
label.tt-select ul.options::before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
label.tt-select input[name='list-visible'] {
  display: none;
}
label.tt-select input[name='list-visible']:checked + ul.options {
  display: block;
}
label.tt-select::after {
  width: 0px;
  height: 0px;
  content: ' ';
  border: solid transparent 4px;
  border-top-color: white;
  position: absolute;
  right: 5px;
  top: 8px;
  background: none;
}
label.tt-select::before {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  content: ' ';
  background: #91af2d;
  width: 18px;
  height: 100%;
}
.tt-selected-options {
  list-style: none;
  padding: 0;
  margin: 7px 0 10px;
}
.tt-selected-options li {
  line-height: 23px;
  letter-spacing: 0.3px;
}
.tt-selected-options li::before {
  content: 'x';
  font-weight: bolder;
  margin: 0 12px 0 7px;
}
.tt-checkboxes {
  list-style: none;
  padding: 0 0 0 25px;
  position: relative;
  margin: 3px 0;
}
.tt-checkboxes .text {
  text-transform: capitalize;
}
.tt-checkboxes li {
  line-height: 23px;
  font-size: 15px;
}
.tt-checkboxes input:checked + .text::after {
  content: '7';
  color: white;
  position: absolute;
  left: -20px;
  top: -2px;
  transform: scaleX(-1) rotate(125deg);
  font-family: monospace;
}
.tt-checkboxes input:checked + .text::before {
  background: #91af2d;
  border: #87a32a solid 1px;
}
.tt-checkboxes .text::before {
  content: ' ';
  width: 15px;
  height: 15px;
  background: #d7d7d7;
  border: solid 1px #c9c9c9;
  position: absolute;
  left: -25px;
  top: 2px;
}
.tt-checkboxes label input[type=checkbox] {
  display: none;
}
#form {
  width: 190px;
  min-width: 190px;
  margin-right: 0px;
  padding: 0 5px;
}
#form h2 {
  margin: -2px 0px;
  font-size: 15px;
  letter-spacing: 0.7px;
}
#form li *,
#form li {
  cursor: pointer;
}
#form input[type=submit] {
  margin: 14px 0 0px;
  height: 25px!important;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  background: #91af2d;
}
.og-context #form input[type=submit] {
  margin: 0;
}
/* ----------------------------------------------------------------------------------
    INPUT PLACEHOLDERS STYLE
------------------------------------------------------------------------------------*/
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ddd;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ddd;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ddd;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ddd;
}
/* ----------------------------------------------------------------------------------
    INPUT STYLE
------------------------------------------------------------------------------------*/
.tomtom-route-instructions-example-group-instruction {
  font-weight: bold;
}
.sidepanelWrapper {
  display: block;
  vertical-align: top;
  overflow: hidden;
  max-width: 100%;
}
.sidepanelWrapper > div > span {
  display: block;
}
.sidepanel input {
  position: relative;
  line-height: 40px;
  display: block;
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 16px;
  z-index: 10;
  background: transparent;
  color: #555;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  border-bottom: 2px solid #888;
}
.sidepanel input[type=range] {
  width: calc(100% - 20px);
}
.sidepanel select {
  margin-bottom: 8px;
}
.sidepanel input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
  height: 5px;
}
.sidepanel input[type=range]::-ms-fill-lower,
.sidepanel input[type=range]::-ms-fill-upper,
.sidepanel input[type=range]:focus::-ms-fill-lower,
.sidepanel input[type=range]:focus::-ms-fill-upper {
  background-color: #ddd;
  border-radius: 0;
}
.sidepanel input[type=range]::-ms-thumb {
  background: #ddd;
  border: solid 1px #777;
  height: 20px;
  width: 8px;
}
.sidepanel input:not([type=radio]) {
  height: 28px;
}
.sidepanel input[type=radio] {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 10px 5px;
  -webkit-appearance: radio !important;
}
.sidepanel input[type=submit],
.sidepanel input[type=button] {
  background: #94B208;
  color: white;
  font-weight: bold;
  line-height: normal;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  height: 30px !important;
  width: 100%;
}
.sidepanel input[type=submit]:hover,
.sidepanel input[type=button]:hover {
  color: #ddd;
}
.sidepanel input[type=text] {
  width: calc(100% - 35px);
  padding-left: 10px;
  padding-right: 25px;
}
.sidepanel input:focus {
  outline: none;
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.sidepanel label,
.sidepanel output {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #888;
  font-weight: bold;
  font-size: 85%;
  text-align: left;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidepanel input:not([type=radio]):not([type=submit]):not([type=button]):focus,
.sidepanel input:not([type=radio]):focus + label,
.sidepanel input:not([type=radio]):focus + output,
.sidepanel select:focus + label {
  border-bottom-color: #94B208;
  color: #94B208;
}
.sidepanel input[type=checkbox] {
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  margin-top: 6px;
}
label.checkbox-label {
  line-height: 30px;
}
.sidepanel input:required:invalid,
.sidepanel input:focus:invalid {
  -moz-box-shadow: none;
  box-shadow: none;
}
.sidepanel input:required:invalid + label:before,
.sidepanel input:focus:invalid + label:before,
.sidepanel input:required:valid + label:before,
.sidepanel input:required:invalid,
.sidepanel input:focus:invalid {
  background-position: right center;
  background-repeat: no-repeat;
}
.sidepanel input:required:invalid,
.sidepanel input:focus:invalid {
  background-image: url(./img/invalid.png);
}
.sidepanel input:required:valid + label:before {
  background-image: url(./img/valid.png);
}
.sidepanel select {
  width: 100%;
}
.use-all-space {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.flex-expand {
  flex: 1;
}
.flex-horizontal {
  display: flex;
  flex-direction: row;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.sidepanel {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-size: 13px;
  min-width: 310px;
  width: 310px;
  padding: 0 10px;
  overflow-y: auto;
  box-sizing: border-box;
}
.sidepanel h4 {
  margin: 10px 0;
}
.sidepanel .sidepanel-input-group {
  margin: 6px 0;
  display: flex;
  flex-direction: column-reverse;
}
.sidepanel .sidepanel-input-group label,
.sidepanel .sidepanel-input-group output,
.sidepanel .sidepanel-input-group input,
.sidepanel .sidepanel-input-group select {
  display: block;
  width: 100%;
}
.sidepanel .sidepanel-input-group label,
.sidepanel .sidepanel-input-group output,
.sidepanel fieldset legend {
  font-size: 13px;
  color: #888;
}
.sidepanel fieldset legend input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
}
.sidepanel fieldset legend {
  font-weight: bold;
  width: auto;
  padding: 0 5px;
  border: 0;
  margin: 0;
}
.sidepanel fieldset {
  border: 1px groove #888;
  padding: 0 5px;
}
.sidepanel .geo-bias-message {
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #888;
}
.sidepanel .geo-bias-message span {
  cursor: pointer;
}
.tt-results__groupname {
  font-weight: bold;
  margin-top: 10px;
}
.tt-results__steps ol {
  list-style-type: decimal;
}
.tomtom-example-inputsWrapper {
  background: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  user-select: none;
}
.tomtom-example-inputsWrapper label {
  margin-bottom: 0px;
}
.tomtom-example-inputsWrapper h2 {
  margin: 4px 5px 2px;
}
.map-container {
  position: relative;
}
.map-container .tomtom-example-inputsWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.map-container .tomtom-example-inputsWrapper-bottom {
  top: auto;
  bottom: 10px;
}
.map-container .tomtom-example-inputsWrapper .input-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.map-container .tomtom-example-inputsWrapper .input-container > label {
  margin-right: 8px;
}
.map-container .tomtom-example-inputsWrapper .input-container > input,
.map-container .tomtom-example-inputsWrapper .input-container > select,
.map-container .tomtom-example-inputsWrapper .input-container > textarea {
  flex-basis: 1;
}
.map-container .leaflet-container {
  z-index: 0;
}
.leaflet-container:not(.leaflet-touch) .leaflet-control-zoomslider a {
  width: 23px;
}
div.leaflet-container .leaflet-control-zoomslider {
  margin-left: 14px;
}
/* Rome date-time picker */
.rd-container {
  left: auto !important;
  right: 10px !important;
  top: 35px !important;
}
/* Traffic list */
#example .traffic-incidents-list-container {
  font-size: 0.8em;
}
.traffic-incidents-list-container {
  width: 40%;
  max-height: 100%;
  overflow: auto;
  float: left;
  font-family: 'TomTom ssm book', Helvetica, Arial, sans-serif;
}
.traffic-incidents-list-icon {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 5px;
  color: white;
  line-height: 20px;
}
.traffic-incidents-list-number-cell {
  white-space: nowrap;
}
.cluster-popup-category-column {
  float: left;
  width: 80px;
}
.cluster-popup-streets-column {
  margin-left: 80px;
  margin-right: 40px;
}
.cluster-popup-length-column {
  float: right;
  width: 40px;
  white-space: nowrap;
}
.traffic-incidents-list-container .headerContainer {
  display: flex;
  padding: 0px 5px;
}
.traffic-incidents-list-container .clickable-header {
  cursor: pointer;
}
.traffic-incidents-list-container .arrows {
  margin-left: 3px;
  align-self: center;
}
.traffic-incidents-list-container .arrow-up {
  width: 0;
  border-bottom: 5px solid grey;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.traffic-incidents-list-container .sorting-asc .arrow-up {
  border-bottom: 5px solid black;
}
.traffic-incidents-list-container .arrow-down {
  width: 0;
  margin-top: 2px;
  border-top: 5px solid grey;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.traffic-incidents-list-container .sorting-desc .arrow-down {
  border-top: 5px solid black;
}
.traffic-incidents-list-container .empty-row {
  text-align: center;
}
.absolute {
  position: absolute;
}
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
.loader:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: loader 0.6s linear infinite;
}
.loader-center {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
}
.codepen-form {
  position: absolute;
  margin: -10px;
  margin-top: -35px;
  background: none;
  border: 2px solid #ddd;
  border-radius: 10em;
}
.codepen-form:hover {
  border: 2px solid #000;
}
.codepen-form:focus {
  outline: 0px;
}
.modal {
  background: rgba(80, 80, 80, 0.9);
}
.modal .modal-body a {
  color: #137AAA;
}
.modal-row {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
}
.modal-row label {
  margin-right: 10px;
  width: 30%;
}
.modal-row input {
  width: 70%;
  border: 1px solid;
}
.modal-row input:focus {
  border: 2px solid;
  border-bottom-color: #94B208;
  color: #94B208;
  outline: none;
}
.modal-row input:focus + label {
  color: #94B208;
}
.modal .modal-footer form {
  display: inline;
}
/*
 * Arrow button
 *
 * Usage:
 * <button class='tt-arrow-button'>North</button>
 * <button class='tt-arrow-button heading-south'>South</button>
 * <button class='tt-arrow-button heading-west'>West</button>
 * <button class='tt-arrow-button heading-east selected'>East</button>
 */
button.tt-arrow-button {
  position: relative;
  border: 0;
  background: none;
  padding: 0;
  font-size: 12px;
  outline: none;
}
button.tt-arrow-button::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 3px;
  transition: all 0.2s;
}
button.tt-arrow-button::after {
  content: '\f124';
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 23px;
  transform: rotate(-45deg);
  position: absolute;
  display: block;
  top: 7px;
  left: 9px;
  transition: all 0.2s;
}
/* Variations of the arrow */
button.tt-arrow-button.heading-south::after {
  transform: rotate(135deg);
  top: 0px;
  left: 8px;
}
button.tt-arrow-button.heading-west::after {
  transform: rotate(-135deg);
  top: 3px;
  left: 12px;
}
button.tt-arrow-button.heading-east::after {
  transform: rotate(45deg);
  top: 3px;
  left: 6px;
}
/* interaction with arrow buttons */
button.tt-arrow-button.selected::before {
  background-color: #94B106;
}
button.tt-arrow-button.selected::after {
  color: white;
}
button.tt-arrow-button:hover::after {
  color: #94B106;
}
button.tt-arrow-button.selected:hover::after {
  color: white;
}
/**
 * Disabled input field
 *
 * We assume here we are using the sidepanel input;
 *
 * Usage:
 * <input class='tt-disabled-input' disabled='true' type='text'>
 */
input.tt-disabled-input[disabled] {
  background-color: #eaeaea;
  border: 0;
}
/**
 * Slider - reinvented :)
 *
 * Usage:
 * <input class='tt-range-slider' type='range'>
 */
input[type=range].tt-range-slider {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
  border: 0;
  height: 10px;
}
input[type=range].tt-range-slider:focus {
  outline: none;
}
input[type=range].tt-range-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px white, 0px 0px 0px #ffffff;
  background: #424242;
  border-radius: 5px;
  border: 1px solid #505050;
}
input[type=range].tt-range-slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35), 0px 0px 1px rgba(13, 13, 13, 0.35);
  border: 0 solid white;
  height: 10px;
  width: 30px;
  border-radius: 8px;
  background: #91af2d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range].tt-range-slider:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}
input[type=range].tt-range-slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px white, 0px 0px 0px #ffffff;
  background: #424242;
  border-radius: 5px;
  border: 1px solid #505050;
}
input[type=range].tt-range-slider::-moz-range-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35), 0px 0px 1px rgba(13, 13, 13, 0.35);
  border: 0 solid white;
  height: 10px;
  width: 30px;
  border-radius: 8px;
  background: #91af2d;
  cursor: pointer;
}
input[type=range].tt-range-slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 30px 0;
  color: transparent;
}
input[type=range].tt-range-slider::-ms-fill-lower {
  background: #353535;
  border: 1px solid #505050;
  border-radius: 10px;
  box-shadow: 0px 0px 0px white, 0px 0px 0px #ffffff;
}
input[type=range].tt-range-slider::-ms-fill-upper {
  background: #424242;
  border: 1px solid #505050;
  border-radius: 10px;
  box-shadow: 0px 0px 0px white, 0px 0px 0px #ffffff;
}
input[type=range].tt-range-slider::-ms-thumb {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35), 0px 0px 1px rgba(13, 13, 13, 0.35);
  border: 0 solid white;
  height: 10px;
  width: 30px;
  border-radius: 8px;
  background: #91af2d;
  cursor: pointer;
}
input[type=range].tt-range-slider:focus::-ms-fill-lower {
  background: #424242;
}
input[type=range].tt-range-slider:focus::-ms-fill-upper {
  background: #4f4f4f;
}
/* ie11/edge specific selectors */
/* don't touch, unless you know what you're doing */
@media all and (-ms-high-contrast: none) {
  input[type=range].tt-range-slider {
    height: 38px!important;
    margin-top: -23px !important;
  }
}
@supports (-ms-ime-align: auto) {
  input[type=range].tt-range-slider {
    height: 17px!important;
  }
  input[type=range].tt-range-slider::-webkit-slider-thumb {
    margin-top: -2.5px;
  }
}
