﻿
.friends-list {
    position: absolute;
    top: 155px;
    right: 5px;
}

#gotoaddview {
    position: absolute;
    right: 10px;
}

.search-box {
    position: absolute;
    bottom: 80px;
    right: 5px;
}

.edit-measurement {
    position: absolute;
    bottom: 135px;
    right: 5px;
}

ul li {
    list-style-type: none;
}

span {
    list-style-type: none;
}

#loginbtn {
    position: absolute;
    top: 10px;
    right: 10px;
}